<main>
        <h2>Pede aí, jovem!</h2>
        <form method="POST" action="''">
            <div>
                <label form="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" maxlength="30" minlength="3" name="nome" />
            </div>

            <div>
                <label form="endereco">Endereço</label>
                <br />
                <input id="endereco" type="text" maxlength="50" minlength="3" name="endereco" />
            </div>

            <div>
                <label form="telefone">Telefone para contato</label>
                <br />
                <input id="telefone" type="text" name="telefone" />
            </div>

            <div>
                <label form="email">E-mail</label>
                <br />
                <input id="email" type="email" name="email" />
            </div>

            <div class="double-field">
                <div>
                    <label form="hamburguer">Hamburguer</label>
                    <select id="hamburguer" name="hamburguer" required>
                        <option value="" disabled selected>Selecione</option>
                        <option value="furioso">Furioso</option>
                        <option value="combo">Combo</option>
                    </select>
                </div>
                <div>
                    <label form="shake">Shake</label>
                    <select id="shake" name="shake">
                        <option value="" disabled selected>Selecione</option>
                        <option value="chocolate">Chocolate</option>
                        <option valeu="biscoito">Biscoito</option>
                    </select>
                </div>
            </div>
            <input type="submit" value="Finalizar pedido!" />
        </form>

</main>